<% provide(:title, "All Posts") %>
<h1> All Posts </h1>
<%= link_to "New Post", new_post_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Price</th>
    <th>Description</th>
  </tr>
<% @posts.each do |o| %>
  <tr>
    <td><%= o.title %></td>
    <td><%= o.price %></td>
    <td><%= o.description %></td>
    <td><%= link_to "Show", post_path(o) %> </td>
    <td><%= link_to 'Edit', edit_post_path(o) %></td>
    <td><%= link_to 'Delete', post_path(o), method: :delete, data: {confirm: 'Are you sure?'} %> </td>
  </tr>
<% end %>
</table>